.header__logout-button {
  margin: 0;
  padding: 0;

  background-color: #000;
  border: none;
  color: rgba(169, 169, 169, 1);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.2 px;

  transition: opacity .3s;
}

.header__logout-button:hover {
  opacity: .6;
}