.auth-form__input {  
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
  
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;

  vertical-align: top;

  background-color: #000;
  color: #fff;
  
  border: none;
  border-bottom: 2px solid rgba(204, 204, 204, 1);
}