.register__signin {
  margin-top: 15px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;

  text-align: center;
}

@media screen and (max-width: 767px) {
  .register__signin {
    margin-top: 20px;    
  }
}