.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, .5);

  opacity: 0;
  visibility: hidden;

  transition: all .5s ease-in-out;
}

@media screen and (max-width: 767px) {
  .popup {
    padding-right: 19px;
    padding-left: 19px;
  }
}

